[http]
  proxy = socks5://127.0.0.1:7891
[https]
  proxy = socks5://127.0.0.1:7891
[core]
  editor = nvim
[user]
  name = dongdongbh
  email = 18310682633@163.com
[alias]
  lg    = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  s     = status -s
  a     = add
  ca    = commit -a --verbose
  c     = commit 
  cm    = commit -m
  cam   = commit -a -m
  amend = commit --amend --no-edit
  am    = commit --amend --verbose

  # list branches sorted by last modified
  b     = !git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'
  # list aliases
  la    = !git config -l | grep alias | cut -c 7-
  com   = checkout master
  st    = stash
  stl   = stash list
  rl    = ref log

  new   = checkout -b
  up    = submodule update --init --recursive --remote
  st    = status -sb

  ll    = log --oneline
  last  = log -1 HEAD --stat
  rv    = remote -v

  d     = diff
  dt    = difftool
[diff]
  tool = kdiff3
[merge]
  tool = kdiff3
[mergetool]
  keepBackup = false
