vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifminfo.json
*.log

lazygit/.config/lazygit/state.yml
tmux/.config/tmux/plugins/
alacritty/.config/alacritty/themes/
zsh/.config/zsh/envrc
zsh/.config/zsh/.zshenv
nvim/
ranger/.config/ranger/__pycache__
w3m/.w3m/cookie
w3m/.w3m/history
