vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifminfo.json
*.log

lazygit/.config/lazygit/state.yml
tmux/.config/tmux/plugins/
alacritty/.config/alacritty/alacritty-theme/
zsh/.config/zsh/envrc
zsh/.config/zsh/.zshenv
