[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -o DP-2 -i /home/dd/dotfiles/wallpapers/Kath.png -o DP-1 -i /home/dd/dotfiles/wallpapers/glove80_vertical.png -m fill
Restart=on-failure
