[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -o DP-3 -i %h/dotfiles/wallpapers/Kath.png -o HDMI-A-1 -i %h/dotfiles/wallpapers/vertical-jet.jpg -o eDP-1 -i %h/dotfiles/wallpapers/Kath.png -m fill
Restart=on-failure
