#!/bin/sh
# .xprofile is just for setting up the environment when logging in with an X session
export EDITOR="nvim"
export TERMINAL="alacritty"


# Speedy keys
#  after 210ms of pressing 'R' the OS will put out 40 'R's a second
xset r rate 210 40

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# remap caps to escape
setxkbmap -option caps:escape

# set up tapping and natural scrolling of touchpad
# this can also be set in /etc/X11/xorg.conf.d/
# set trackpoint use max sensitivity 
xinput set-prop 15 304 1
xinput set-prop 15 322 1
xinput --set-prop 16 313 1.0
# disable touchpad
xinput set-prop 15 "Device Enabled" 0

# swap escape and caps
# setxkbmap -option caps:swapescape
# enable numlock keyboard
# numlockx on
# zsh config dir
# export ZDOTDIR=$HOME/.config/zsh
